@font-face {
   font-family: font_reg;
   src: url('/fonts/Moon2.0-Regular.otf');
 }

body {
   background: rgb(27,181,152);
   padding: 0;
   margin: 0;
   font-family: font_reg;
   box-sizing: border-box;
   line-height: 1.5;
   font-size: 15px;
   letter-spacing: 3px;
}


.container {
   width: 85%;
   margin: auto;
   overflow: hidden;
}

/* header */
header {
   background: rgb(44,62,80);
   color: aliceblue;
   padding: 10px 0;
   position: fixed;
   top: 0;
   width: 100%;
}

.container .logo {
   float: left;
}

.container nav {
   float: right;
}

.container .logo h3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 40px;
  cursor: default;
}

header a {
   text-decoration: none;
   color: white;
   font-size: 20px;
}

header li {
   display: inline;
   padding: 15px;
   font-weight: bold;
   border-radius: 5px;
}

header li:hover {
   transition-delay: .1s;
   background: rgb(27,181,152);
   color: aliceblue;
}

#front .container {
   text-align: center;
   margin-top: 90px;
}

#front .container .pic img {
   width: 240px;
   height: 240px;
   padding: 3px;
   margin: 45px 10px 5px 10px;
   background: inherit;
   border: 10px solid black;
   border-radius: 50%;
}

#front .container .ngaran {
   margin: 0;
   padding: 0;
   font-size: 70px;
   color: aliceblue;
   font-weight: bolder;
   cursor: pointer;
   margin-bottom: 10px;
}

#front .container .profession {
   color: white;
   margin-bottom: 90px;
}


.web, .net {
   border-radius: 6px;
   padding: 8px;
}

.web:hover, .net:hover {
   transition-delay: .1s;
   background: pink;
   font-weight: bolder;
   cursor: default;
}

/* Portfolio */
#porfolio {
   background: white;
}

#portfolio {
   background-color: white;
}

#portfolio .container {
   text-align: center;
}

#portfolio .container h1 {
   margin: 30px 0;
   font-size: 55px;
   color: rgb(44,62,80);
}

#portfolio .container .grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   margin-bottom: 60px;
}

#portfolio .container .grid .box {
   margin: 2px 2px;
   padding: 5px;
   border-radius: 9px;
}

#portfolio .container .grid .box img {
   width: 150px;
   height: 150px;
   margin: 15px;
   border-radius: 50%;
   background-color: white;
}

#portfolio .container .grid .box .box-1 {
   background-color: rgb(35, 156, 134);
   border-top-left-radius: 10px;
}

#portfolio .container .grid .box .box-2 {
   background-color: rgb(35, 156, 134);
}

#portfolio .container .grid .box .box-3 {
   background-color: rgb(35, 156, 134);
   border-top-right-radius: 10px;
}

#portfolio .container .grid .box .box-4 {
   background-color: rgb(35, 156, 134);
   border-bottom-left-radius: 10px;
}

#portfolio .container .grid .box .box-5 {
   background-color: rgb(35, 156, 134);
}

#portfolio .container .grid .box .box-6 {
   background-color: rgb(35, 156, 134);
   border-bottom-right-radius: 10px;
}

#portfolio .container .grid .box:hover {
   transition-delay: .1s;
   background-color: darkslategray;
}

#portfolio .container .grid .box img:hover {
   transition-delay: .1s;
   background-color: aqua;
}

/* about */
#about {
   text-align: center;
   margin-bottom: 40px;
}

#about .container h1 {
   margin: 30px 0 20px 0;
   font-size: 55px;
   color: white;
}

#about .container .about-grid p {
   color: aliceblue;
   padding: 10px;
   font-size: 20px;
   text-align: left;
   font-weight: bold;
}

.about-grid {
   display: grid;
   margin: 0 10px;
   grid-template-columns: 1fr 2fr 2fr 1fr;
}

.sub-button {
   font-size: 20px;
   padding: 15px 25px;
   background-color: transparent;
   color: aliceblue;
   border: 2px solid white;
   border-radius: 6px;
   font-weight: 500;
}

.sub-button:hover {
   transition-delay: .1s;
   background-color:rgb(165, 23, 23);
   color: white;
   border-radius: 7px;
   font-weight: 500;
}

.about-1 {
   grid-column-start: 2;
}

/* contact */
#contact {
   text-align: center;
   background-color: white;
   padding-bottom: 30px;
}

#contact .container h1 {
   margin: 30px 0;
   font-size: 55px;
   word-spacing: 0.1px;
}

#contact .container .form label {
   font-size: 20px;
   margin-left: -395px;
   font-weight: bold;
}

.message {
   margin-right: -40px;
}

#contact .container .form input {
   display: block;
   width: 450px;
   margin: auto;
   font-size: 20px;
   padding: 10px;
   margin-bottom: 10px;
   outline: none;
   border-radius: 3px;
   border: 1px solid;
}

textarea {
   margin-top: 5px;
   border-radius: 3px;
   border: 1px solid;
   font-size: 20px;
   padding: 10px;
   outline: none;
   margin-left: -1px;
   resize: none;
}

.button-2 {
   padding: 15px 25px;
   margin: 15px;
   font-size: 20px;
   font-weight: 500;
   border-radius: 6px;
   outline: none;
   background-color: rgb(27,181,152);
   border: 1px;
   color: aliceblue;
   margin-right: 370px;
}

.button-2:hover {
   transition-delay: .1s;
   background-color: rgb(27, 99, 86);
}

/* footer */
footer {
   background-color: rgb(44,62,80);
   color: aliceblue;
}

footer .container {
   padding: 30px;
}

footer .container .foot-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   text-align: center;
}

.copy {
   background-color: rgb(26,37,47);
   padding: 5px;
   text-align: center;
   color: white;
}

.copy h4 {
   margin: 15px;
}










