@font-face {
   font-family: font_reg;
   src: url('/fonts/Moon2.0-Regular.otf');
 }

body {
   background: rgb(27,181,152);
   padding: 0;
   margin: 0;
   font-family: font_reg;
   box-sizing: border-box;
   line-height: 1.5;
   font-size: 15px;
   letter-spacing: 3px;
}

.container {
   width: 85%;
   margin: auto;
   overflow: hidden;
}

/* header */
header {
   background: rgb(44,62,80);
   color: aliceblue;
   padding: 10px 0;
}

.container .logo {
   float: left;
}

.container nav {
   float: right;
}

.container .logo h3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 40px;
  cursor: default;
}

header a {
   text-decoration: none;
   color: white;
   font-size: 20px;
}

header li {
   display: inline;
   padding: 15px;
   font-weight: bold;
   border-radius: 5px;
}

header li:hover {
   background: rgb(27,181,152);
   color: aliceblue;
}

.name .container {
   text-align: center;
}

.name .container .pic img {
   width: 260px;
   padding: 15px;
   margin: 40px 10px 5px 10px;
   background: inherit;
   border: 10px solid black;
   border-radius: 50%;
}

.name .container .ngaran {
   margin: 0;
   padding: 0;
   font-size: 70px;
   color: aliceblue;
   font-weight: bolder;
}

.name .container .profession {
   color: white;
}

/* line */
.line {
   display: inline;
}

.line .left {
   float: left;
   margin-left: 350px;
}

.line .right {
   float: right;
   margin-right: 350px;
}

.line .left, .line .right {
   width: 200px;
   height: 0px;
   border: solid white;
}
